/* DÉBUT CSS */
* {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-family: "Titillium Bd";
	word-wrap: break-word;
}
/* FONT */
@font-face{
    font-family: "Titillium Bd";
    src: url('./Titillium-Bold.otf'),
    url('./Titillium-Bold.eot'); 
}
html{
	scroll-behavior: smooth;
}
body{
	scroll-behavior: smooth;
	top: 100px;
}
/* HEADER */
header{
	background-color:white;
	width:100%;
	height: 100px;
	display:flex;
	z-index : 9998;
	position: sticky;
	top: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* LOGO */

/* NAV */
.nav_container{
	z-index: 15;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}
#Logo{
	height: 80px;
	margin: 10px 0 0 10px;
}
.nav_container > ul{
	display:flex;
	width:100%;
	justify-content: space-around;
}
.nav_container > ul > li > a{
	text-align:center;
	display:block;
	padding : 10px 20px;
	border-radius:20px;
	font-size: 1.2em;
}
.nav_container > ul > li > a:not(.active_link){
	background-color:#fff;
	color:black;
}
/* LIEN ACTIF */
.active_link{
	color: white;
	background-color: #eec639;
}
.nav_container > ul > li > a:hover:not(.active_link){
	transition: all 0.1s;
	background-color:#eec639;
	color: white;
}
.nav_container > ul > li > ul{
	margin-top:10px;
	text-align:center;
	background-color:#097953;
	opacity: 0;
	padding : 15px 22px 20px 18px;
	position: absolute;
	z-index: -10;
	transition: all .3s ease-in-out;
	visibility: hidden;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	transition-delay: 100ms, 800ms; 
}
.nav_container > ul > li > ul > li > a{
	color:white;
	font-size: 1.2em;
	transition: all .1s ease-in-out;
}
.nav_container > ul > li > ul > li > a:hover{
	color:#eec639;
}
.checkbox_menu{
	top:0;
	left: 0;
	height: 50px;
	width: 50px;
	padding: 12px;
	position:absolute;
	display: none;
	box-sizing: border-box;
	z-index: 999;
}
span > span {
	display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #23a578;
}


/* PROPRIETES MEDIAS POUR LE RESPONSIVE DESIGN */

/* LORSQUE LA LARGEUR DE L'ÉCRAN EST DE 450PX DE LARGEUR MAXIMUM */
@media only screen and (max-width: 450px) {
	footer > div:first-child{
		display: flex;
	}
}
/* LORSQUE LA LARGEUR DE L'ÉCRAN EST DE 801PX DE LARGEUR MINIMUM */
@media only screen and (min-width: 801px) {
	#toggle-1, label{display:none; }
	.checkbox_under_menu{
		display: none;
	}
	.nav_container > ul > li > a:hover ~ ul{
		display:block;
		opacity: 1;
		z-index: 999999;
		visibility: visible;
		filter: alpha(opacity=100);
	}
	main h3, main h4{
		font-size: 9em;
	}
	section figure{
		padding-bottom: 20px;
		border-radius: 50px 50px 78px 78px;
	}
	.nav_container > ul > li > ul:hover{
		display : block;
		opacity: 1;
		visibility: visible;
	}
	.article{
		width: 70%;
	}
	.introduction > p {
		width: 70%;
	}
}
/* LORSQUE LA LARGEUR DE L'ÉCRAN EST DE 800PX DE LARGEUR MAXIMUM */
@media only screen and (max-width: 800px) {
	#Logo{
		height: 50px;
		margin: -25px -50px;
		position: absolute;
	}
	header > a{
		margin: auto;
	}
	/* AFFICHER LES SOOUS MENUS */
	.checkbox_under_menu{
		height: 50px;
		width: 50px;
		margin: 0 0 0 1%;
		position: absolute;
		display: block;
		z-index: 999999;
		cursor: pointer;
		opacity: 0;
	}
	.checkbox_menu{
		display: inline-block;
	}
	body{
		background-image: none;
	}
	header{
		height:50px;
		width: 100%;
	}
	.nav_container{
		display:none;
		align-items: unset;
		width: 100%;
		justify-content: unset;
		transition: all .3s;
	}
	.nav_container > ul {
		flex-direction: column;
		width: 100%;
	}
	.nav_container > ul > li{
		width: 100%;
		
	}
	.nav_container > ul > li > a{
		width: 100%;
		border-radius:unset;
		box-sizing: border-box;
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	.nav_container > ul > li > ul{
		z-index: -10;
		position: relative;
		visibility: visible;
		opacity: 0;
		width: 100%;
		padding: 0;
		margin-top: 0;
		height: 0px;
		transition: all .3s;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.nav_container > ul > li > ul:not(:last-child){
		box-shadow: unset;
	}
	#toggle-1 {
		position: absolute; 
		top: 0px; 
		left: 0px; 
		background:none;
		z-index : 9999;
		opacity: 0;
		cursor: pointer;
		height: 50px;
		width: 50px;}
	label {
		float:right; 
		padding:8px 0px; 
		display:inline-block; 
		cursor:pointer; 
	}
	#toggle-1:checked ~ nav {
		display:block;
	}
	#toggle-1:checked ~ .checkbox_menu {
		background-color: #eec639;
	}
	#toggle-1:checked ~ #Logo{
		display: none;
	}
	.checkbox_under_menu:checked ~ ul{
		opacity: 1;
		z-index: 99999;
		height: 100px;
	}
	.checkbox_sub_menu{
		border: solid black;
  		border-width: 0 6px 6px 0;
  		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		position: absolute;
		margin: 17px 22px;
		transition: all .4s ;
	}
	.checkbox_under_menu:checked ~ .checkbox_sub_menu{
		transform: rotate(-135deg);
	}

	main h3, main h4{
		font-size: 6em;
	}
	section figure{
		padding-bottom: 10px;
		border-radius: 50px 50px 60px 60px;
	}
	.article{
		width: 80%;
	}
	.introduction > p {
		width: 90%;
	}
}
/* PARTIE SUR LA PAGE TRANSPORTS */
.Transport{
	background-color: #23a578;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
}
.Title{
	width: 100%;
	text-align: center;
	font-size: 4em;
	color: white;
}
/* INTRODUCTION DANS DIFFICULTES ET INNOVATIONS */
.introduction{
	background-color: #23a578;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 10px;
}
/* BALISE DU CONTENU PRINCIPALE PARTOUT SAUF ACCUEIL */
main{
	width:100%;
	margin:auto;
	box-sizing: border-box;
	background-color: #e1e1e1;
	padding-bottom: 50px;
}
/* L'ARTICLE DANS TOUTES LES PAGES SAUF ACCUEIL */
.article{
	display: block;
	padding: 20px;
	background-color: #23a578;
	color: white;
	margin: 0 auto 80px;
	z-index: 9999999999999999999999999;
}
.article p {
	letter-spacing: .02em	;
}
article > div {
	display: block;
}
.floatRight{
	right: 5%;
}
main{
	color: white;
}
main h3{
	color: black;
	width: 100%;
	left: 0px;
	text-align: center;
	word-wrap: break-word;
}
main h4{
	color:black;
	text-align: center;
	top: 300px;
	flex: 1;
	margin: 20px 0 0;
}
main p{
	font-size: 1.2em;
}
main article p:not(:last-child){
	margin-bottom:50px;
}
/* ACCUEIL */
.accueil{
	background-color: #e1e1e1;
	padding-bottom: 20px;
}
.début{
	border-radius: 20px;
	background-color: #23a578;
}
.article_accueil{
	text-align: center;
	color: white;
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
	padding: 30px;

}
.article_accueil h3, .article_accueil h4{
	border-radius: 10px 10px 0 0;
	padding: 10px 0;
	background-color: #eec639;
	color: grey;
	letter-spacing: 1px;
	font-size: 1.4em;
}
.article_accueil p{
	background-color: #23a578;
	padding: 20px;
}
/* PHOTOS */
.étudiants{
	display: flex;
	width: 80%;
	margin: auto;
	padding: 50px;
	background-color: #eec639;
	border-radius: 50px;
}
.étudiants .photos{
	width: 100%;
}
.photos{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.photos figure{
	display: inline-flex;
	flex-direction: column;
	height: 500px;
}
.photos img{
	display: inline-table;
	max-width: 100%;
	max-height: 90%;
}
.photos figcaption{
	text-align: center;
	font-size: 1.5em;
}
section figure{
	margin-right: 10px;
	max-height: 300px;
	max-width: 500px;
	display: inline-flex;
	flex-direction: column;
	float: left;
	background-color: #23a578;
}
section figure img {
	max-width: 100%;
	max-height: 100%;
	display: inline-table;
	border-radius: 50px;
}

.dessin{
	text-align: center;
	color: grey;
	font-style: italic	;
}
.figure_schema{
	text-align: center;
}
.figure_schema figcaption{
	color: grey;
	font-style: italic;
}
.figure_schema h5{
	font-size:1.2em;
}
.figure_schema{
	margin-bottom: 30px;
}
/* TEXTE AVEC IMAGE DERRIERE */
.img_bg{
	background-size: cover;
	background-position: center;
	object-fit: cover;
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.img_bg > img{
	position: absolute;
}
/* TRANSPORTS */
#Vélo > img{
	object-position: 100% 85%;
}
#Trottinette > img{
	object-position: ;
}
/* GESTION */
#Gestion > img{
	object-position: 50% 63%;
}
#Techniques > img{
	object-position: 50% 94%;
}
/* INNOVATIONS */
#Technique > img{
	object-position: 95% 50%;
}
#Technologique > img{
	object-position: 50% 67%;
}
.opacity{
	background-color:rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 500px;
	width: 100%;
	z-index: 9;
}
.opacityLess{
	background-color:rgba(0, 0, 0, 0.1);
	position: absolute;
	height: 500px;
	width: 100%;
	z-index: 9;
}
.img_bg h3{
	z-index: 10;
	color: white;
}
section{
	background-color: #e1e1e1;
}
section div{
	display: block;
	margin: auto;
	padding-bottom: 50px;
	position: relative;
	max-width: 560px;
	height: 315px;
}
/* INTEGRATIION D'UNE VIDEO */
section iframe{
	width: 100%;
	height: 100%;
}
section p{
	text-align: center;
	padding: 20px;
	margin: auto;
	width: 90%;
	color: white;
	background-color: #23a578;
}
section > div > div{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
/* ARTICLES DE LA PAGE PROBLEME */
.Problemes_article{
	margin: -50px auto 80px;
	width: 75%;
	text-align: center;
	background-color: #23a578;
	padding: 100px 10% 100px;
	position: sticky;
	left: 12.5%;
	z-index: 999;
	box-sizing: border-box;
}

/* FOOTER / BAS DE PAGE */
footer{
	width: 100%;
	background-color:#2e2e31;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 3px solid #eec639;
	flex-flow: row wrap;
	position: relative;
	color: white;
}
footer h6{
	font-size: 1.5em;
}
footer > div{
	margin: auto;
}
footer > div:first-child{
	top: 0;
	height:200px;
	width: 100%;
	display: inline-flex;
	position: absolute;
}
footer > div:first-child a{
	width: 302px;
}
footer>div:nth-child(2){
	width: 302px;
	height:200px;
	display: inline-flex;
	visibility: hidden;
}
footer>div:nth-child(4){
	text-align: center;
}
footer img{
	max-width: 100%;
	max-height: 100%;
	display: inline-table;
}
/* BOUTON POUR REVENIR EN HAUT DE LA PAGE */
.container{
	position: absolute;
	right: 3%;
	margin-top: -300px;
	z-index: 99999999999999999999999999999999999999999999;
}

.scroll_up_container{
	margin-top: 200px;
	width: 50px;
	height:50px;
	background-color: #eec639;
	border-radius: 50%;
	display: block;
	z-index: 84964196498651651541;
}
.scroll_up{
	border: solid black;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-135deg);
	transition: all .4s ;
	margin: 22px 19px;
}
/* IMAGE DE FOND DE LA PAGE D'ACCUEIL */
#bgHome{
	width:100%;
	height: 800px;
	object-fit: cover;
	filter: brightness(90%);
	z-index: 0;
} 
/* SCHEMA DE LA PAGE D'ACCUEIL */
.schema{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	width: 100%;
	margin: auto;
	flex-flow: row wrap;
}
.schema img{
	margin: 0 0;
	z-index: 1;
}
/* BALISE TABLE */
section table{
	background-color: #23a578;
	margin: auto;
	width: 50%;
	border: 1px solid;
	text-align: center;
	border-collapse: collapse;
	text-decoration: none;
}
section table td{
	border: 2px solid #097953;
	width: 50%;
}
section table th{
	border: 2px solid #097953;
}
/* LES DIFFERENTS AFFICHAGES DES SCHEMAS SELON LA LARGEUR DE L ECRAN */
@media only screen and (max-width: 899px) {
	.sc1 img:first-child{
		display: none;
	}
	.sc1 img:not(:first-child){
		display: block;
	}
}
@media only screen and (min-width: 900px) {
	.sc1 img:not(:first-child){
		display: none;
	}
	.sc1 img:first-child{
		display: block;
	}
}

@media only screen and (max-width: 1199px) {
	.sc2 img:first-child{
		display: none;
	}
	.sc2 img:not(:first-child){
		display: block;
	}
}
@media only screen and (min-width: 1200px) {
	.sc2 img:not(:first-child){
		display: none;
	}
	.sc2 img:first-child{
		display: block;
	}
}